<div id="carousel" class="center">
  <%= image_tag("home/carousel_1.png", height: "291", width: "825", border: 0, alt: "home1") %>
</div>
<% if !user_signed_in? %>
  <div class="center">
	  <%= link_to "Sign Up Now!", new_user_registration_path, id: "signup", class: "btn btn-large btn-custom" %>
  </div>
<% end %>
<div id="home-divider"></div>
<div class="row home-row">
  <div class="span4">
    <%= image_tag("home/twitterButton.png", size: "80x80", border: 0, alt: "twitter", class: "home-row-content") %>
    <div class="cycle-tweets">
      <% @tweets.each do |tweet| %>
          <%= content_tag(:span, link_to(wrap(truncate_text(tweet.content,130)), tweet.url, target: "_blank")) %>
    
      <% end %>
    </div>
  </div>
  <div class="span4">
    <%= image_tag("home/blogButton.png", size: "80x80", border: 0, alt: "blog", class: "home-row-content") %>
    <span class="blogpostdate">2012-08-21</span><br />
    <span class="blogpost"><%= link_to truncate_text("New Features That Are In Development",30), "#" %></span></br /></br />
    <span class="blogpostdate">2012-08-01</span><br />
    <span class="blogpost"><%= link_to truncate_text("GuildRewind Launch",30), "#" %></span>
  </div>
  <div class="span4">
    <%= image_tag("home/statisticsButton.png", size: "80x80", border: 0, alt: "statistics", class: "home-row-content") %>
    <span class="statistic">Number of Users: </span><span class="stat pull-right"><%= User.count %></span><br />
    <span class="statistic">Number of Posts: </span><span class="stat pull-right"><%= Post.count %></span><br />
    <span class="statistic">Number of Games: </span><span class="stat pull-right"><%= Game.count %></span><br />
    <span class="statistic">Number of Servers: </span><span class="stat pull-right"><%= Server.count %></span><br />
    <span class="statistic">Number of Replies: </span><span class="stat pull-right"><%= Reply.count %></span>
  </div>
</div>