<% provide(:title, 'All Replies') %>
<h1>All Replies</h1>

<div class="hero-unit">
  <div class="row">
    <div class="span10 offset1">
      <div class="center"><%= will_paginate %></div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Post</th>
              <th>Subject</th>
              <th>Message</th>
              <th>Time</th>
              <th>Controls</th>
            </tr>
          </thead>
          <tbody>
            <% @replies.each do |r| %>
              <tr>
                <td><span class="post"><%= link_to r.post.id, controller: :posts, action: :show, id: r.post.id %></span></td>
                <td><span class="subject"><%= link_to r.post.subject, controller: :posts, action: :show, id: r.post.id %></span></td>
                <td><span class="content"><%= truncate_text(r.content, 30) %></span></td>
                <td><span class="timestamp"><%= time_ago_in_words(r.created_at) %> ago.</span></td>
                <td><%= link_to "Show", r %> | Reply | <%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <div class="center"><%= will_paginate %></div>
    </div>
  </div>
</div>