<li>
  <span class="game"><%= post.game.name %></span>
  <span class="guild_name"><%= post.guild_name %></span>
  <span class="character_name"><%= post.character_name %></span>
  <span class="subject"><%= post.subject %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>