<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Game</th>
      <th>Server</th>
      <th>Subject</th>
      <th>Guild Name</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |p| %>
    <tr>
      <td><span class="game"><%= p.game.name %></span></td>
      <td><span class="server_name"><%= p.server.name %></span></td>
      <td><span class="subject"><%= link_to p.subject, p %></span></td>
      <td><span class="guild_name"><%= p.guild_name %></span></td>
      <td><span class="timestamp"><%= time_ago_in_words(p.created_at) %> ago.</span></td>
    </tr>
    <% end %>
  </tbody>
</table>