<footer class="footer">
  <small class="footernav">
    &copy;2012 GuildRewind
  </small>
  <nav>
    <ul>
      <li class = "footernav"><%= link_to "About",   about_path %></li>
      <li class = "footernav footernav-spacer"><%= link_to "Contact", contact_path %></li>
      <li class ="footer-socialmedia"><%= link_to image_tag("facebook.png", size: "15x15", border: 0, alt: "facebook"), "https://www.facebook.com/GuildRewind" %></li>
      <li class ="footer-socialmedia"><%= link_to image_tag("twitter.png", size: "18x18", border: 0, alt: "twitter"), "https://twitter.com/guildrewind" %></li>
      <li class ="footer-socialmedia"><%= link_to image_tag("googleplus.png", size: "25x25", border: 0, alt: "googleplus"), "https://plus.google.com/b/100842597151172352100/100842597151172352100/posts" %></li>
    </ul>
  </nav>
</footer>