<header class="navbar center">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo.png", size: "275x275", border: 0, alt: "logo"), root_path, id: "logo" %>
      <nav>
        <%= link_to "New Post", newpost_path, class: "btn btn-custom" %>
        <%= link_to "Browse Posts", posts_path, class: "btn btn-custom" %>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li class="active"><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="active dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret">Account</b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="active"><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
        <form class="navbar-search pull-right">
          <input type="text" class="search-query span2">
          <div class="icon-search"></div>
        </form>
      </nav>
    </div>
  </div>
</header>